body {
  margin: 0 0;
  padding: 0 0;

  font-family: "Helvetica";
  color: #ffffff;
  background-color: #1f1f1f;
}
#main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  height: 90vh;
}
.main-item {
  max-width: 440px;
}
#title {
  margin-bottom: 4rem;
  font-size: 2.5em;
}
#information-container {
  background-color: #232f3e;
}
#information {
  font-size: 1.125em;
}
#link {
  font-size: 1.25em;
}