body {
  margin: 0 0;
  padding: 0 0;

  font-family: "Helvetica";
  color: #ffffff;
  background-color: #1f1f1f;
  border-bottom: 25px solid #232f3e;
}
strong {

}
#main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  height: 96.55vh;
}
.main-item {
  width: 80%;
}
#title {
  margin-bottom: 4rem;
  font-size: 2.5em;
}
#main-item-info {
  display: flex;
  justify-content: center;
  width: 80%;
}
#information-container {
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  max-width: 640px;
  background-color: #232f3e;
  border-radius: 10px;
  text-align: justify;
}
#information {
  line-height: 1.5;
  font-size: 1.125em;
}
#link {
  padding: 8px 32px;
  border-radius: 10px;
  font-size: 1.25em;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
#link:hover {
  font-weight: bold;
}