body {
  margin: 0 0;
  padding: 0 0;

  font-family: "Helvetica";
  color: #f7f7f7;
  background-color: #1f1f1f;
  border-bottom: 25px solid #232f3e;
}
strong {
  color: #f8f8f8;
}
#main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  height: 96.55vh;
}
.main-item {
  width: 80%;
}
#title {
  margin-bottom: 2rem;
  font-size: 2.5em;
}
#main-item-info {
  display: flex;
  justify-content: center;
  width: 80%;
}
#information-container {
  padding: 0.5rem 1rem;
  max-width: 640px;
  background-color: #232f3e;
  border-radius: 10px;
  text-align: center;
}
#information {
  color: #bebebe;
  line-height: 1.5;
  font-size: 1.125em;
}
#link {
  margin-top: 1rem;
  padding: 12px 64px;
  border-radius: 10px;
  border: transparent;
  border-bottom: 5px solid #ebb64d;
  font-size: 1.25em;
  font-weight: bold;
  color: #1f1f1f;
  background-color: #f6d55c;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  transition-timing-function: ease-in-out;
}
#link:hover {
  padding: 12px 96px;
  color: white;
  box-shadow: black 0 0 10px 3px;
}
#link:active {
  border-bottom: transparent;
}